
body{
    text-align: center;
    min-width: 400px;
    height: 350px;
}
#everything-sec{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#button-sec{
    display:flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
}

#hour-container{
    font-size: 2em;
}

#time-left{
    font-size: 2em;
}